<ul id="recommands_<%= @kind %>" class='posts'>
	<%=render :partial => 'recommandation', :collection => @recommandations %>
</ul>
<div id="load-more"> 
	<div class='activate'>loading...</div>
   <%= will_paginate @recommandations,:class => @kind, :renderer => FlowPagination::LinkRenderer%> 
</div>