<ul id="recommands_<%= @kind %>" class='posts'>
	<%=render :partial => 'recommand', :collection => @recommands %>
</ul>
<div id="load-more"> 
	<div class='activate'>loading...</div>
   <%= will_paginate @recommands,:class => @kind, :renderer => FlowPagination::LinkRenderer%> 
</div>