<html>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" bgcolor='#EFEDE4' >

<STYLE>
 .headerTop { background-color:#FFCC66; border-top:0px solid #000000; border-bottom:1px solid #FFFFFF; text-align:center; }
 .adminText { font-size:10px; color:#996600; line-height:200%; font-family:verdana; text-decoration:none; }
 .headerBar { background-color:#FFFFFF; border-top:0px solid #333333; border-bottom:10px solid #FFFFFF; }
 .title { font-size:20px; font-weight:bold; color:#CC6600; font-family:arial; line-height:110%; }
 .subTitle { font-size:11px; font-weight:normal; color:#666666; font-style:italic; font-family:arial; }
 td { font-size:12px; color:#000000; line-height:150%; font-family:trebuchet ms; }
 .sideColumn { background-color:#FFFFFF; border-left:1px dashed #CCCCCC; text-align:left; }
 .sideColumnText { font-size:11px; font-weight:normal; color:#999999; font-family:arial; line-height:150%; }
 .sideColumnTitle { font-size:15px; font-weight:bold; color:#333333; font-family:arial; line-height:150%; }
 .footerRow { background-color:#FFFFCC; border-top:10px solid #FFFFFF; }
 .footerText { font-size:10px; color:#996600; line-height:100%; font-family:verdana; }
</STYLE>



<table width="100%" cellpadding="10" cellspacing="0" bgcolor='#EFEDE4' >
<tr>
<td valign="top" align="center">

<table width="600" cellpadding="0" cellspacing="0">
<tr>
<td style="background-color:#FFCC66;border-top:0px solid #000000;border-bottom:1px solid #FFFFFF;text-align:center;" align="center"><span style="font-size:10px;color:#996600;line-height:200%;font-family:verdana;text-decoration:none;">Email not displaying correctly? <a href="*|ARCHIVE|*" style="font-size:10px;color:#996600;line-height:200%;font-family:verdana;text-decoration:none;">View it in your browser.</a></span></td>

</tr>


</table>

<table width="600" cellpadding="20" cellspacing="0" bgcolor="#FFFFFF">
<tr>

<td bgcolor="#FFFFFF" valign="top" width="400" style="font-size:12px;color:#000000;line-height:150%;font-family:trebuchet ms;">

<p>
<span style="font-size:20px;font-weight:bold;font-family:arial;line-height:110%;">shanghaionrails正式开通线上社区</span><br>
<br>
您好<%=h @user.login %>,我们发邮件是为了告诉你Shanghaionrails正式开通了新的线上讨论区，<a href='#'>地址</a>  <br />  相对邮件列表，直接在线的讨论对大多数人来讲应该是接受程度更高的，这会有益与社区向新的人群拓展。同时我们也希望用这个平台，总结经验，为更多愿意创建/组织/参与公益社区活动的人服务. <a href='http://muutang.com/posts/4'>详细报道</a>  <br />  
</p>
<p>
因为你是shanghaionrails邮件列表的成员,或者你曾经参加过Rubyconfchina或kungfurails,我们已经为你在此讨论区预置了帐号，你可使用以下email和密码直接登录.
</p>    

<p>
<span style="font-size:20px;font-weight:bold;font-family:arial;line-height:110%;">请使用以下email和密码</span><br><br />  
<span style="font-size:14px;font-weight:bold;font-family:arial;">邮箱:<%=h @user.email %></span><br />
<span style="font-size:14px;font-weight:bold;font-family:arial;">密码:<%=h @pwd %></span> <br /><br /> 
<span style="font-size:14px;font-weight:bold;font-family:arial;line-height:110%;"><a href="http://muutang.com/users/<%=@user.id%>/change_password">直接登录</a></span>
</p>
</td>


<td width="200" valign="top" style="background-color:#FFFFFF;border-left:1px dashed #CCCCCC;text-align:left;">
<span style="font-size:11px;font-weight:normal;color:#999999;font-family:arial;line-height:150%;">

<span style="font-size:15px;font-weight:bold;color:#333333;font-family:arial;line-height:150%;">关于shanghaionrails:</span><br>
Shanghai Ruby&Rails 爱好者论坛是一个非营利的民间组织，它旨在为Ruby&Rails爱好者提供一个自由，开放的交流平台，论坛每季度举行一次大型会议，会议的所有费用由赞助商支付，来宾不需交纳任何费用。
We push the china ruby&rails community forward!!

<br>

</td>


</tr>


<tr>
<td style="background-color:#FFFFCC;border-top:10px solid #FFFFFF;" valign="top" colspan="2">
<span style="font-size:10px;color:#996600;line-height:100%;font-family:verdana;">
本邮件由亩塘自动发送,请勿回复此邮件!
</span>
</td>
</tr>


</table>







</td>
</tr>
</table>




</body>
</html>