<h2>名字的由来</h2>
<p>半<span style='font-size:14px;font-weight:bold;'>亩</span>方<span style='font-size:14px;font-weight:bold;'>塘</span>一鉴开,天光云影共徘徊.问渠哪得清如许?为有源头活水来</p>
<h2>目标</h2> 
<p>我们希望用这个亩塘总结shanghaionrails的有益经验，为更多愿意创建/组织/参与公益社区活动的人服务.</p>
<p>我们将在适当的时候开放整站源代码.</p>
<h2>关于</h2> 
<p>亩塘目前由<%=link_to '上海沙路科技','http://www.sandsroad.com/cn',:target =>'_blank'%>团队利用业余时间开发</p>