<% content_for :header do -%>
	<%= stylesheet_link_tag 'help' %>
<% end -%>       
<div id="warppr"> 
	<% if @page -%>
	<div id='left'>
	  <% @pages.children.each do |page| -%>
		<h2><%= page.name %></h2>
		<%= page.content %>
	  <% end -%>
	</div>  
	<div id="right"> 
		<h1>帮助</h1> 
		<ul>
	  <% @pages.children.each do |page| -%>
		<li><%= page.name %></li>
	  <% end -%>                 
		</ul>
	</div> 
	<% else -%>
	暂无页面
	<% end -%>
</div>

