<% content_for :header do -%> 
	<script type="text/javascript" charset="utf-8">       
	 $(document).ready(function() {
		$("#tabs").tabs({spinner:'载入中...'});
	 });    
	</script>               
<% end -%>   

<div style='text-align:right;' id='btn'>
	<%=pretty_button '发帖',new_post_path %>
</div>
 
<div id="tabs" >
  <ul> 
	 	<li><%=link_to(logged_in? ? '我的' : '全部',posts_path) %></li>  
		<% Category.ordered.each do |cate| -%>
      		<li><%=link_to content_tag(:span,cate.name), cate %></li>
		<% end -%>
  </ul> 
	 <div id="tabs-content">  
    
	</div>
</div>   



