* {
 padding: 0;
 margin: 0; 
 font-size:12px;
 line-height: 150%;
}

body{         
	font-family:Arial,Helvetica,sans-serif;
	background-color: #efefef;
	background-position: top;
	margin:0;
	background:#EFEDE4 none repeat scroll 0 0;
}  

img{
	border:0px;
} 

a {
	color: #323232;
}  

a.small{
	font-size:10px;
}      

a:link {
	color: #333333;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	color: #333333;
}
a:active {
	text-decoration: none;
	color: #000000;
}
a:visited {
	text-decoration: underline;
	color: #000000;
} 

.a14 {
	color: #FFFFFF;
	font-size: 14px;
}
.a14:link {
	color: #FFFFFF;
	text-decoration: none;
}
.a14:hover {
	text-decoration: underline;
	color: #FFFFFF;
}
.a14:active {
	text-decoration: none;
	color: #FFFFFF;
}
.a14:visited {
	text-decoration: underline;
	color: #FFFFFF;
}

.a2:link,.a2:visited {
	color:#0000ff;;
}            

.a6 {
	color: #999999;
	font-size: 16px;
	font-family:Georgia, Times, serif;
}   

label{
	font-weight:bold;
}   

hr{       
	padding:5px;    
	margin:5px;
	clear:both;
}

p{
	margin:5px;
} 

h1{  
	font-size:1.5em;
	padding:10px;
	border-bottom:1px solid #DDDDDD;  
}     

h2{  
	font-size:1.4em;    
	padding:10px;
	margin:5px;
	border-bottom:1px solid #DDDDDD;
}

h2 a{  
	font-size:1.4em;    
} 

h3 a{
   	font-size:1.2em;  
} 

h3{  
	font-size:1.2em;     
	padding:10px;
	margin:5px;
	border-bottom:1px solid #DDDDDD;
}

ul li{list-style:none;}                 

#container{
	width:986px;
	margin:0 auto;
}       

#header{  
	color:#fff;   
	height:50px;
	background:url(/images/header-application.png);
}

#header a{
	font-size:14px;  
	padding:5px;
	color:#fff;
	text-decoration:none;
}

.logo{
	width:130px;
	float:left;
}

.system_menu{
	background:url(/images/line_1.gif) no-repeat 0px 8px  ;
	float:left;
	padding:12px 20px; 
	width:600px;
}  

.user_menu{
	float:right;
	padding:12px;
}          


           

/* body structure*/
#body{
	margin:10px 0px;
	background:#FFFFFF;
	padding:10px;
}     

#navs{    
	margin-top:5px;      
	float:left;
	width:240px;        
}     

.nav_box{   
	padding:0px 10px;  
	clear:both;
}

#navs h3{ 
	clear:both; 

} 

.nav_box ul{
	margin:10px;
}      
.nav_box li {
	float:left;
}
            	  
.nav_box li a{  
	text-decoration: none;       
	display:block; 
	padding:5px;  
}      

#navs .current a, #nav .current a:hover, #nav .current a:visited{
	background:#ccc;
	font-size:12px;  
}


#content{  
	margin-left:10px; 
	float:left;
	width:700px;
}      

#bread{
	clear:both;
	padding:5px 10px;
	margin:5px 0px;
	background:#eee;
}                 

/* sidebar */
#sidebar{      
	text-align:center;
	float:right;
	width:230px; 
	padding:0px 10px;
}      

#sidebar .box{    
	background:#EFEFEF;        
	margin-bottom:10px;               
	padding:10px;
	clear:both;
	text-align:center;
} 
         
.menu a{     
	margin-left:15px;
	display:block;
	padding:10px;
	float:left;
}

#sidebar h3{
	font-size:16px;
	color:#ABABAB;
}
	

/*-------------*/ 

#footer{
   	margin:10px 0px;
	background:#FFFFFF;
	height:15px;
	padding:10px;   
	text-align:left;
}  

.copyright{
	float:left;
}

#footer ul li{  
	margin:0px 5px;
	float:right;
}           

/* posts */       
span.title{
	font-size:18px; 
	font-weight:bold;
}



.opt{     
	width:100%;
	height:30px;
	padding:10px;
} 

.pagination{
	padding:0px 30px;
}

.opt h3{
	width:200px;
}

.opt a{   
	padding:0px 5px;
}

.comment{   
	clear:both;
	margin:0px 40px;
}  

.comment td{
	padding:10px;
	border-bottom:1px solid #eee;
}

.activity_user_avatar{
	float:left;
}  

.posts li{         
  width:90%;
  padding:5px;  
  border-bottom:1px solid #DDDDDD;
}

.posts li img{    
	float:left;
	margin:0px 5px;
} 

.posts li a{
	text-decoration: none; 
}                 

.posts li p{   
	font-size:12px;  
	padding-left:20px;
}

a.post-title,.post-content{
	color:#A0A0A0;
}

span.time{
	color:#777777;
	margin-right:10px;
}

.comments{
	background:#EFEFEF; 
	width:80%;
	margin-left:40px;
}

.comments td{  
	padding:5px;
	border-bottom:1px solid #fff;
	}  


/* --- form --- */    
.submit{
	width:113px;
	height:28px;
	border:none;
}       
    
#form { margin-left:50px;}

#form textarea{
   	height:20px;   
}  
          
input[type="text"],input[type="password"]{
	width:200px;          
} 

input.comment_title{
	width:400px;
}        

#longform .title{
	width:400px;  
	height:20px;
	font:14px;
} 

input[type='submit']{
	background:#ddd url(/images/bg-button.gif) repeat-x 0 0; 
	font-size:12px;
	margin:10px;
	width:80px;
	padding:5px;
	text-align:center;
}

.hover_btn{
	cursor:pointer; /* important for any clickable/pressable element */
  border-color:#9cf !important;
}
        
#longform textarea{height:300px;}   
TEXTAREA { width: 80%;}
FIELDSET { border: 1px solid #ccc; padding: 1em; margin: 0; }
LEGEND { color: #ccc; font-size: 120%; }
INPUT, TEXTAREA { font-family: Arial, verdana; font-size: 125%;  border: 1px solid #999; }
LABEL { display: block; margin-top: 5px; }    


.search{ margin:5px 10px 5px 40px;}
.search input{
	margin:8px;
}



/* admin */ 

.role{
	margin:20px; 

}  

.role span{
	font-size:18px;
	font-weight:bold;
}

.role ul{height:40px;}
.role ul li{
	float:left;
	padding:10px;
	font-size:14px;
} 

/*---- group -------*/  

table{
	margin:5px;
	border-collapse: collapse;
	table-layout:automatic;
	width:98%;
}
td, th{
	padding: 2px 6px;
} 
thead{
	background:#d9eaed;
}

th a{
  padding-left:15px;  
}                   
.sorting{background:transparent url(/images/bg/sorter.gif) no-repeat -5px 2px;} 
.asc{background:transparent url(/images/bg/222222_7x7_arrow_up.gif) no-repeat left 2px;}   
.desc{background:transparent url(/images/bg/222222_7x7_arrow_down.gif) no-repeat left 2px;}          
/*----- error ------*/
.errorExplanation h2{
	color:red;
}     

/* ---table---*/ 
#categories li{
	padding:10px;
	border-bottom:1px solid #eee;
}        

#categories span.name{
	font-size:16px;
	font-weight:bold;
}

li .handle {
  font-size: 12px;
  cursor: move;
  color: #777;
}  


.even td{
	background:#efefef;
}

.menu{
	clear:both;
}               

.menu li{    
	padding:0px;
	margin:0px;
	float:left; 
} 

.menu li a{  
	padding:5px;
	margin:0px;
	display:block; 
}

.menu li a:hover{ 
	background:#cccccc; 
} 

.current{
  background:#cccccc;  
}

.tablesorter{
	width:100%;
	text-align:center;
}

/*----  image -----*/

