* {
 padding: 0;
 margin: 0; 
 font-size:12px;
 line-height: 120%;
}

body{         
	font-family:Arial,Helvetica,sans-serif;
	background-color: #efefef;
	background-position: top;
	margin:0;
	background:#EFEDE4 none repeat scroll 0 0;
}  

img{
	border:0px;
} 

a {
	color: #6F1600;
}  

a.small{
	font-size:10px;
}      

a:link {
	color: #333333;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	color: #333333;
}
a:active {
	text-decoration: none;
	color: #000000;
}
a:visited {
	text-decoration: underline;
	color: #000000;
} 

.a14 {
	color: #FFFFFF;
	font-size: 14px;
}
.a14:link {
	color: #FFFFFF;
	text-decoration: none;
}
.a14:hover {
	text-decoration: underline;
	color: #FFFFFF;
}
.a14:active {
	text-decoration: none;
	color: #FFFFFF;
}
.a14:visited {
	text-decoration: underline;
	color: #FFFFFF;
}

.a2:link,.a2:visited {
	color:#0000ff;;
}            

.a6 {
	color: #999999;
	font-size: 16px;
	font-family:Georgia, Times, serif;
}   

label{
	font-weight:bold;
}

p{
	margin:5px;
} 

h1{  
	font-size:1.5em;
	padding:10px;
	border-bottom:1px solid #DDDDDD;  
}     

h2{      
	padding:10px;
	margin:5px;
	border-bottom:1px solid #DDDDDD;
}  

h3{      
	padding:10px;
	margin:5px;
	border-bottom:1px solid #DDDDDD;
}

ul li{list-style:none;}                 

#container{
	width:986px;
	margin:0 auto;
}       

#header{  
	color:#fff;   
	height:50px;
	background:url(/images/header-application.png);
}

#header a{  
	padding:5px;
	color:#fff;
	text-decoration:none;
}

.logo{
	width:130px;
	float:left;
}

.system_menu{
	background:url(/images/line_1.gif) no-repeat 0px 8px  ;
	float:left;
	padding:12px 20px; 
	width:200px;
}  

.user_menu{
	float:right;
	padding:12px;
}          


           

/* body structure*/
#body{
	margin:10px 0px;
	background:#FFFFFF;
	padding:10px;
}   

#content{   
	float:left;
	width:700px;
}      

#bread{
	clear:both;
	padding:5px 10px;
	margin:5px 0px;
	background:#eee;
}                 

/* sidebar */
#sidebar{      
	text-align:center;
	float:right;
	width:230px; 
	padding:10px;
}      

#sidebar .box{    
	background:#EFEFEF;        
	margin-bottom:10px;               
	padding:10px;
	clear:both;
	text-align:center;
} 
         
.menu a{     
	margin-left:15px;
	display:block;
	padding:10px;
	float:left;
}

#sidebar h3{
	font-size:16px;
	color:#ABABAB;
}
	

/*-------------*/ 

#footer{
   	margin:10px 0px;
	background:#FFFFFF;
	padding:10px;   
	text-align:center;
}             

/* posts */       
span.title{
	font-size:18px; 
	font-weight:bold;
}



.opt{     
	width:100%;
	height:30px;
	padding:10px;
} 

.pagination{
	padding:0px 30px;
}

.opt h3{
	width:200px;
}

.opt a{   
	padding:0px 5px;
}

.comment{   
	clear:both;
	margin:0px 40px;
}  

.comment td{
	padding:10px;
	border-bottom:1px solid #eee;
}

.activity_user_avatar{
	float:left;
}  

.posts li{         
  width:90%;
  padding:5px;  
  border-bottom:1px solid #DDDDDD;
}

.posts li img{    
	float:left;
	margin:0px 5px;
} 

.posts li a{
	text-decoration: none; 
}                 

.posts li p{   
	font-size:12px;  
	padding-left:20px;
}

a.post-title,.post-content{
	color:#777777;
}

span.time{
	color:#777777;
	margin-right:10px;
}



/* --- form --- */    
.submit{
	width:113px;
	height:28px;
	border:none;
}       

#form { margin-left:50px;}

#form textarea{
   	height:120px;   
}  
          
input[type="text"],input[type="password"]{
	width:200px;          
} 



input.comment_title{
	width:400px;
}        

#longform .title{
	width:400px;  
	height:20px;
	font:14px;
} 


input[type='submit']{
	background:#ddd url(/images/bg-button.gif) repeat-x 0 0; 
	font-size:12px;
	margin:10px;
	width:80px;
	padding:5px;
	text-align:center;
} 

.hover_btn{
	cursor:pointer; /* important for any clickable/pressable element */
  border-color:#9cf !important;
}
         
TEXTAREA { width: 80%;}
FIELDSET { border: 1px solid #ccc; padding: 1em; margin: 0; }
LEGEND { color: #ccc; font-size: 120%; }
INPUT, TEXTAREA { font-family: Arial, verdana; font-size: 125%;  border: 1px solid #999; }
LABEL { display: block; margin-top: 10px; }    

.search{ margin:5px 10px 5px 40px;}
.search input{
	margin:8px;
}



/* admin */ 

.role{
	margin:20px; 

}  

.role span{
	font-size:18px;
	font-weight:bold;
}

.role ul{height:40px;}
.role ul li{
	float:left;
	padding:10px;
	font-size:14px;
} 

/*---- group -------*/  

#group_header{
	clear:both;
	padding:5px;
	height:60px;
} 

.g_left{ 
	float:left;
	background: url(/images/bg/title_bg_m.jpg) repeat-x;
} 

.title_left{  
	float:left; 
	width:26px; 
	height:56px;
  background: url(/images/bg/title_bg_l.jpg); 
} 

.title_m{
	float:left;  
}  

.title_m a{
   	line-height:56px;
	font-size:24px; 
	font-weight:bold;
 	text-decoration: none;     
}

.title_m img{
	margin:0px 10px;
	border:2px solid #ccc;
}   

.title-right{ 
	float:left;
	width:26px; 
	height:56px;
   	background: url(/images/bg/title_bg_r.jpg);  
}

.group_description{ 
	width:500px;
	float:left; 
	margin-left:30px;
}


/*----- error ------*/
.errorExplanation h2{
	color:red;
}     

/* ---table---*/ 
#categories li{
	padding:10px;
	border-bottom:1px solid #eee;
}        

#categories span.name{
	font-size:16px;
	font-weight:bold;
}

li .handle {
  font-size: 12px;
  cursor: move;
  color: #777;
}

/*---- load more ------*/   

a.post-more                 { color:#900; }  
p.post-content              { font-size:10px; line-height:17px; padding-bottom:0; }  
#load-more                  { width:90%;  color:#999; font-weight:bold; text-align:right; margin-left:40px;padding:10px; cursor:pointer; }  
#load-more:hover            { color:#666; }    
.activate					{ text-align:right;width:100%;background:url(/images/indicator.gif) no-repeat;display:none; }