<div class='box menu'>  
	<%=link_to '基本资料设置',edit_user_profile_path(@user)%>     
	<%=link_to '技能设置',user_skills_path(@user)%> 
	<%=link_to '用户名设置',edit_user_path(@user)%>
	<%=link_to '修改密码',change_password_user_path(@user)%>    
	<div style="clear:both"></div> 
</div>