<div class='center_box'>  
<h1>忘记密码</h1>

<% form_tag reset_password_users_path,:method => :put do %>
  <label for="email">电子邮箱</label><br/>
  <%= text_field_tag :email %>

  <p><%= submit_tag '重设密码' %></p>
<% end %>
</div>