<div id="footer" class='ui-corner-all'>
	<div class='copyright'>
	   © 2009 亩塘 <%=link_to '沙路科技','http://www.sandsroad.com/cn',:target =>'_blank'%>
	</div> 
	<ul>    
   		<li><%=link_to '帮助',faq_path %></li>  
		<li><%=link_to '关于',about_path %></li>

	</ul>	
</div>                         
<% if  ENV['RAILS_ENV'] == 'production' -%>     
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-9920036-1");
pageTracker._trackPageview();
} catch(err) {}</script>
<% end -%>