<div id='group_header'>    
	<div class='g_left'>
		<div class='title_left'></div>
		<div class='title_m'>
<%=link_to image_tag("group/sor_logo.jpg",:align => 'left'),root_path %> <%=link_to 'Shanghaionrails',root_path%>
		</div> 
		<div class="title-right"></div>
	</div> 
	<div class='group_description'>
		Shanghai Ruby&Rails爱好者论坛是一个非营利的民间组织，创办于2007年10月。初期它旨在为上海地区的Ruby&Rails爱好者提供一个自由，开放的交流平台.<%=link_to '更多介绍',intro_path,:class => 'a2' %>  <p>
	   <%= link_to '订阅更新' + image_tag('feed-icon-14x14.png',:align => 'absmiddle'), posts_url(:format => :rss),:alt => 'RSS Feed'%></p>
	</div> 
</div>