<div id='group_header'>  
	<div class='g_left'>
		<div class='title_left'></div>
		<div class='title_m'>
<%=link_to image_tag("group/kungfu_rails_logo.png",:align => 'left'),root_path %> <%=link_to 'Kungfurails',root_path%>
		</div> 
		<div class="title-right"></div>
	</div> 
	<div class='group_description'>
		Kungfurails是Shanghai Ruby&Rails爱好者论坛的发起的国际性rails会议.此处是kungfurails的线上讨论小组!
	</div> 
</div>