<h2>管理职位</h2>    
<table  class='tablesorter' cellpadding='0' cellspacing='0'> 
	<thead> 
  <tr>       
	<th><%=sortable_link('状态',admin_jobs_path,'visible')%></th>
    <th>发布时间</th>
	<th>职位</th>
	<th>公司</th>
	<th>工作地点</th>
  </tr>
</thead> 
<tbody>
	<%= render @jobs %>
</tbody>
</table>    
