<ul id="posts_<%= current_category(@category) %>" class='posts'>
	<%=render :partial=> @tops, :as => :post %>
	<%=render @posts %>
</ul>
<div id="load-more"> 
	<div class='activate'>loading...</div>
   <%= will_paginate @posts,:class => current_category(@category), :renderer => FlowPagination::LinkRenderer%> 
</div>
